

<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!--Left arrow-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', 'website', websiteId, 'page', pageId, 'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>
    <span>
        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
            <a class="navbar-brand thick">
                <b>Widget Edit</b>
            </a>
        </p>
        </span>
    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a (click) = "updateWidget(widget)" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container">
  <div ng-show="model.error"
       class="alert alert-danger">
    {{model.error}}
  </div>
  <form novalidate name="model.myform">
    <div class="form-group">
      <label for="Name">Name</label>
      <input [(ngModel)]="widget.name"
             type="text"
             class="form-control"
             id="Name"
             name="name"
             placeholder="Name"
             required>
      <span class="alert-class"
            ng-show="model.myform.name.$invalid">{{model.alert}}</span>
    </div>
    <div [(ngModel)]="widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>
  </form>
  <p></p>

  <a class="btn btn-danger btn-block "
     (click)="deleteWidget(widget)">Delete</a>

</div>

<!-- Footer -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
