<p>works</p>


<!--&lt;!&ndash;Header&ndash;&gt;-->
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash;Left arrow&ndash;&gt;-->
    <!--<p class="navbar-text pull-left">-->
      <!--<a [routerLink]="['/user', userId, 'website']" class="navbar-link">-->
        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
      <!--</a>-->
    <!--</p>-->
    <!--<span>-->
        <!--&lt;!&ndash;heading on the nav bar&ndash;&gt;-->
        <!--<p class="navbar-header pull-left">-->
            <!--<a class="navbar-brand thick">-->
                <!--<b>New Website</b>-->
            <!--</a>-->
        <!--</p>-->
        <!--</span>-->
    <!--&lt;!&ndash;tick mark&ndash;&gt;-->
    <!--<p class="navbar-text pull-right">-->
      <!--&lt;!&ndash;<a ng-click="model.createWebsite(model.website)"&ndash;&gt;-->
         <!--&lt;!&ndash;class="navbar-link">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-ok"></span>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--</p>-->

  <!--</div>-->
<!--</nav>-->


<!--<div class="container">-->
  <!--<div ng-show="model.error"-->
       <!--class="alert alert-danger">-->
    <!--{{model.error}}-->
  <!--</div>-->
  <!--<form novalidate name="model.myform">-->
    <!--<div class="form-group">-->
      <!--<label for="Name">Name</label>-->
      <!--<input ng-model="model.website.name"-->
             <!--type="text"-->
             <!--class="form-control"-->
             <!--id="Name"-->
             <!--name="name"-->
             <!--placeholder="Name"-->
             <!--required>-->
      <!--<span class="alert-class"-->
            <!--ng-show="model.myform.name.$invalid">{{model.alert}}</span>-->
    <!--</div>-->



    <!--<p></p>-->
    <!--<div class="form-group">-->
      <!--<label-->
        <!--for="Description">Description</label>-->
      <!--<textarea ng-model="model.website.description"-->
                <!--type="text"-->
                <!--class="form-control"-->
                <!--id="Description"-->
                <!--name="description"-->
                <!--placeholder="Description"></textarea>-->
    <!--</div>-->
  <!--</form>-->



<!--</div>-->

<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
  <!--<div class="container-fluid">-->
    <!--<p class="navbar-text pull-right">-->
      <!--<a href="#/user">-->
        <!--<span class="glyphicon glyphicon-user"></span>-->
      <!--</a>-->
    <!--</p>-->

  <!--</div>-->
<!--</nav>-->


